:root {
    --primary-color: #4d6081;
    --secondary-color: #559aa3;
    --background-color: #c4dae8;
    --text-color: #333;
    --heading-color: #4d6081;
    --border-radius: 10px;
    --font-family: 'Poppins', sans-serif;
}
